[BUTTON]
HELLO = Привет!
ANNOUNCE = Доступные мероприятия
TO_ANNOUNCE = К доступным мероприятиям
BOOKING = Мои бронирования
ABOUT = О клубе OutLook
GOODBYE = До свидания!
BACK = Назад
TO_MAIN_MENU = В главное меню
TO_RELATED_CHANNEL = Канал "Край нерассказанных историй"
MORE = Подробнее
BOOK = Забронировать||Управлять бронью
SHOWMAP = Как пройти
SHOWTICKET = Показать билет
SERVICE = Сервис
BOOK_QUANTITY = Забронировать!||и более||Отменить бронь
CONFIRM = Нет||Да
APPLICANT_CHAT = Чат с заявителем


[MESSAGE]
ERROR = Что-то пошло не так. Попробуйте с начала.||Время сессии вышло, голубчик.||Раздел находится в разработке.||Мероприятие недоступно.||
    К сожалению, места уже закончились.

FIRST_MET = Меня зовут Harpy, я помогаю записаться на мероприятия клуба OutLook. Пожалуйста, представьтесь.
WELCOME = 
    Добро пожаловать в клуб, %%s! Выберите, что бы вы хотели сделать.||
    Рада снова вас видеть, %%s! Выберите, что бы вы хотели сделать.||
    Вы находитесь в главном меню. Выберите, что вы хотите сделать.
GOODBYE = До встречи!||Пока||Всего хорошего
ANNOUNCE =
    В настоящий момент новых мероприятий не анонсировано. Вы можете следить за новостями в официальном канале клуба или дождаться уведомления о новых мероприятиях.||
    Вот доступные мероприятия||
    Сервисное меню: актуальных мероприятий не найдено||
    Сервисное меню: мероприятия
BOOKS =
    Вы еще не бронировали места на мероприятия. Перейти к доступным мероприятиям?||
    Вот все ваши актуальные бронирования||
    Вы еще не бронировали места на мероприятия. Новых мероприятий Клуба пока не анонсировано, следите за анонсами в канале или ожидайте уведомления от бота - как только новое мероприятие будет анонсировано, мы вам напишем!
BOOK_PROCESS_HEAD =
    %%s, вы выбрали для бронирования мероприятие "%%s", которое пройдет %%s в %%s, в %%s.||
    %%s, вы управляете бронированием на мероприятие "%%s", которое пройдет %%s в %%s, в %%s.
BOOK_PROCESS_BODY = На него не осталось мест.||На него осталось только одно место!||На него осталось {{%%s место}}.||Вами забронировано {{%%s место}}.
BOOK_IS_CONFIRMED = Бронь не подтверждена.||Бронь подтверждена.
BOOK_PROCESS_FINAL = Выберите или введите количество мест, которое вы хотите забронировать.||Вы можете изменить это количество.
BOOK_CONFIRM =
    %%s, вы уверены, что хотите отменить бронь на мероприятие "%%s" (%%s в %%s)?||
    %%s, вы бронируете одно место на мероприятие "%%s" (%%s в %%s). Все правильно?||
    %%s, вы бронируете {{%%s место}} на мероприятие "%%s" (%%s в %%s). Все правильно?
BOOK_CONFIRM_REQUEST =
    Пользователь %%s хочет забронировать {{%%s место}} на мероприятие "%%s" (%%s в %%s). Подтвердить?||
    Подтверждение брони приведет к овербукингу на мероприятие "%%s" (%%s, %%s) на {{%%s место}}! Продолжить?
BOOK_CONFIRM_RESPONSE = Администратор отклонил ваш запрос.||Администратор подтвердил ваш запрос.
BOOK_RESULT =
    К сожалению, указанное количество мест недоступно для бронирования.||
    Запрос на бронирование отправлен. Билет будет доступен в меню "Мои бронирования - Подробнее - Показать билет" после подтверждения администратором.||
    При сохранении брони возникла ошибка на стороне сервера. Пожалуйста, свяжитесь с администратором.||
    Ваше бронирование сохранено. Вот QR-код, по которому вы можете попасть на мероприятие. Он доступен в любое время в меню "Мои бронирования - Подробнее - Показать билет".||
    Ваше бронирование отменено.


[FILLER]
LEFT_PLACES = Все места забронированы.||Осталось мест: %%s
SHOWMAP = [Посмотреть на карте](%%s)