[BUTTON]
HELLO = Привет!
EVENTS = Доступные мероприятия
TO_EVENTS = К доступным мероприятиям
BOOKING = Мои бронирования
ABOUT = О клубе OutLook
GOODBYE = До свидания!
BACK = Назад
TO_MAIN_MENU = В главное меню
TO_RELATED_CHANNEL = Канал "Край нерассказанных историй"
MORE = Подробнее
BOOK = Забронировать||Управлять бронью
QUEUE = Записаться в очередь||Выйти из очереди
SHOWMAP = Как пройти



[MESSAGE]
ERROR = Что-то пошло не так. Попробуйте с начала.||Время сессии вышло, голубчик.||Раздел находится в разработке.||Мероприятие недоступно

FIRST_MET = Меня зовут Harpy, я помогаю записаться на мероприятия клуба OutLook. Пожалуйста, представьтесь.
WELCOME = 
    Добро пожаловать в клуб, %%s! Выберите, что бы вы хотели сделать.||
    Рада снова вас видеть, %%s! Выберите, что бы вы хотели сделать.||
    Вы находитесь в главном меню. Выберите, что вы хотите сделать.
GOODBYE = До встречи!||Пока||Всего хорошего
EVENTS =
    В настоящий момент новых мероприятий не анонсировано. Вы можете следить за новостями в официальном канале клуба или дождаться уведомления о новых мероприятиях.||
    Вот доступные мероприятия
BOOKS =
    Вы еще не бронировали места на мероприятия. Перейти к доступным мероприятиям?||
    Вот все ваши актуальные бронирования и очереди||
    Вы еще не бронировали места на мероприятия. Новых мероприятий Клуба пока не анонсировано, следите за анонсами в канале или ожидайте уведомления от бота - как только новое мероприятие будет анонсировано, мы вам напишем!


    
